*~
.DS_Store
lib_managed
target
project-old/boot
project-old/plugins/project
project-old/plugins/target
project-old/plugins/lib_managed
project-old/plugins/src_managed
.project
.classpath
.scala_dependencies
.settings
data
output
*.pdf
*.aux
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
project/boot
render
*.slx
*.rib
*.json
maps
*.jnilib
*.zip
lib/.*
*.bak
